body {background:#999999 url('http://aho.tteoh.com/images/texture2.png'); font-family:"Helvetica", Verdana, sans-serif;}

div.container {background:#FAFAFA) center; width:700px; margin:auto; border-top: solid 10px #BABABA; border-bottom:solid 10px #BABABA;}
div.title {background:#FFFFFF url('http://aho.tteoh.com/images/title4.png') no-repeat; width:100%; height:300px;}
div.links {background:#BABABA; text-align:center; height: 26px; border-top: solid 5px #BABABA;}
div.main {background:#FFFFFF; padding: 10px;}
div.break {background:url('http://aho.tteoh.com/images/break.png') no-repeat; background-position:center; width:100%; height:20px; margin-bottom:20px;}

a {color: #333333;}

a.navigation {border-bottom: solid 5px #BABABA; text-decoration:none; color:#FFFFFF; padding-left:20px; padding-right:20px;}
a.navigation:hover {border-bottom: solid 5px #FFFFFF;}